{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <h2>Vote 2000MX</h2>
        <p>Для работы в системе необходима авторизация</p>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form.as_p }}

          <input type="submit" class="form-control" value="{% trans 'Войти' %}" />
          <input type="hidden" name="next" class="form-control" value="{{ next }}" />
        </form>
        <p>{% trans "Не зарегистрированы" %}? <a href="{% url 'registration_register' %}">{% trans "Регистрация" %}</a></p>
    </div>
</div>
{% endblock %}
