{% load i18n %}
<!DOCTYPE html>
<html lang="ru-RU">

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" />
    <title>Vote 2000MX</title>
</head>

<body>
    <header>
    {% block header %}
    {% if user.is_authenticated %}
        {% trans "Вы вошли как" %}: {{ user.username }}
        (<a href="{% url 'auth_logout' %}">{% trans "Выйти" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Войти" %}</a>
    {% endif %}
    <hr />
    {% endblock %}
    </header>

    <div class="container">
        {% block content %}{% endblock %}
        <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</body>

</html>
