{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <h1>Новое голосование</h1>
            <p>Первая фаза. Пожалуйста выберите удобное для вас время и желаемое мероприятие</p>
            <p id="timer"></p>
            <form method="post" action="/vote_second/" id="vote_form">
                {% csrf_token %}
                <input class="hidden" type="hidden" value="{{ request.POST.d_second }}" name="d_second">
                <select id="time" name="time">
                    {% for o in time %}
                        <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>
                <label for="time">Удобное время проведения</label>
                <input id="event" name="event" type="text" maxlength="150" class="searchField">
                <label for="event">Введите название мероприятия</label>
                <div id="results"></div>
                <input type="submit" class="form-control" value="Голосовать" />
            </form>
        </div>
    </div>

<script id="predict" type="text/javascript">
(
  function()
  {

      var lookFor = [
        "Собрание", "Бизнес ланч"
      ];

      var form = document.getElementById("vote_form");
      var resultsDiv = document.getElementById("results");
      var searchField = form.event;
      var node = searchField;
      var x = 0;
      var y = 0;
      while ( node !== null )
      {
          x += node.offsetLeft;
          y += node.offsetTop;
          node = node.offsetParent;
      }
      resultsDiv.style.left = x + "px";
      resultsDiv.style.top  = (y + 20) + "px";

      // now, attach the keyup handler to the search field:
      searchField.onkeyup = function()
      {
          var txt = this.value.toLowerCase();
          if ( txt.length === 0 ) return;

          var txtRE = new RegExp( "(" + txt + ")", "ig" );
          var top = 0;
          for ( var s = 0; s < lookFor.length; ++s )
          {
              var srch = lookFor[s];
              if ( srch.toLowerCase().indexOf(txt) >= 0 )
              {
                  srch = srch.replace( txtRE, "<span>$1</span>" );
                  var div = document.createElement("div");
                  div.innerHTML = srch;
                  div.onclick = function() {
                      searchField.value = this.innerHTML.replace(/\<\/?span\>/ig,"");
                      resultsDiv.style.display = "none";
                  };
                  div.style.top = top + "px";
                  top += 20;
                  resultsDiv.appendChild(div);
                  resultsDiv.style.display = "block";
              }
          }
      };

      searchField.onkeydown = function()
      {
          while ( resultsDiv.firstChild !== null )
          {
              resultsDiv.removeChild( resultsDiv.firstChild );
          }
          resultsDiv.style.display = "none";
      }

  }
)();
</script>
<script id="timer_script" type="text/javascript">
    var minutes = {{ request.POST.d_first }};
    var seconds = minutes % 60;
    setInterval(function(){
        seconds-=1;
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
        if ((seconds === 0) && (minutes === 0)){
            document.getElementById("timer").innerHTML = "Время вышло";
       }
        else if (seconds === 0){
            minutes-=1;
            seconds=60;
        }
}, 1000);
</script>

{% endblock %}