{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <h1>Новое голосование</h1>
            <p>Вторая фаза. Ниже представленны результаты голосования, сможете ли Вы принять участия в данном мероприятии?</p>
            <p>{{ request.POST.time }}:00</p>
            <p>{{ request.POST.event }}</p>
            <p id="timer"></p>
            <form method="post" action="/result/">
                {% csrf_token %}
                <input class="hidden" type="hidden" value="{{ request.POST.time }}" name="time">
                <input class="hidden" type="hidden" value="{{ request.POST.event }}" name="event">
                <input id="yes" type="submit" class="form-control" value="Да" />
            </form>
            <form action="/">
                <input type="submit" value="Нет" />
            </form>
        </div>
    </div>


<script id="timer_script">
    var minutes = {{ request.POST.d_second }};
    var seconds = minutes % 60;
    setInterval(function(){
        seconds-=1;
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
        if ((seconds === 0) && (minutes === 0)){
            document.getElementById("timer").innerHTML = "Время вышло";
       }
        else if (seconds === 0){
            minutes-=1;
            seconds=60;
        }
}, 1000);
</script>

{% endblock %}