{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <form method="post" action="/new_vote/">
                {% csrf_token %}
                <input id="d_first" name="d_first" type="number" max="60" min="1" value="1">
                <label for="d_first">Продолжительность первой фазы (в минутах)</label>
                <input id="d_second" name="d_second" type="number" max="60" min="1" value="1">
                <label for="d_second">Продолжительность второй фазы (в минутах)</label>
                <input type="submit" class="form-control" value="Начать голосование" />
                <p id="res">{{ request.POST.time }}:00 {{ request.POST.event }}</p>
            </form>


            <div id="voteContainer" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
    <script id="hide" type="text/javascript">
        var time = "{{ request.POST.time }}";
        var el = document.getElementById('res');
        if (!time){
            if(el) {
            el.className += el.className ? ' hidden' : 'hidden';
        }
        }

    </script>
    <script id="pie" type="text/javascript">
                window.onload = function () {
                    var chart = new CanvasJS.Chart("voteContainer",
                    {
                        title:{
                            text: "Результаты голосования"
                        },
                        legend: {
                            maxWidth: 350,
                            itemWidth: 120
                        },
                        data: [
                        {
                            type: "pie",
                            showInLegend: true,
                            legendText: "{{ request.POST.time }}:00",
                            dataPoints: [
                                { y: 1, indexLabel: "{{ request.POST.event }}" }
                            ]
                        }
                        ]
                    });
                    chart.render();
                }
            </script>
{% endblock %}